* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.hero-section {
    background-color: #1F2937;
    
}

.navbar-container, .hero-content-container {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    
}

.nav {
    flex-grow: 1;
    margin: auto 0;
}

.nav ul {
    display: flex;
    gap: 1em;
    background-color: green;
    
}

nav ul li {
    list-style: none;
    
    
}

nav ul li:nth-child(1) {
    background-color: red;
    margin-left: auto;
    
}

.nav-logo {
    font-size: 24px;
    font-weight: bolder;
    background-color: rgb(70, 99, 124);
    
}

.nav-logo, .hero-text-container > h1 {
    color:#F9FAF8
}

.navlink, .hero-text-container > p  {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-text-container > h1 {
   font-size: 48px;
   font-weight: 800;
}