* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.hero-section {
    background-color: #1F2937;
    
    
}

.navbar-container, .hero-content-container, .random-container {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    
}

.hero-content-container {
    gap: 1em;
    padding: 80px 15px;
}

.nav {
    flex-grow: 1;
    margin: auto 0;
}

.nav ul {
    display: flex;
    gap: 1em;
    ;
    
}

nav ul li {
    list-style: none;
    
    
}

nav ul li:nth-child(1) {
    
    margin-left: auto;
    
}

.nav-logo {
    font-size: 24px;
    font-weight: bolder;
    
    
}

.nav-logo, .hero-text-container > h1 {
    color:#F9FAF8
}

.navlink, .hero-text-container > p  {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-text-container > h1 {
   font-size: 48px;
   font-weight: 800;
   line-height: 100%;
   margin-bottom: 10px;
   
   
}

.hero-text-container > button {
    color:#E5E7EB;
    background-color: #3d80dd;
    margin-top: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}

.hero-text-container {
    
}

.img-placeholder {
    background-color: grey;
    max-width: 50%;
    padding: 50px 150px;
}

.random-container {
    flex-direction: column;
    justify-content: center;
}

.random-content-container, h2 {
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.info-build {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    

}

.info-build > p {
    text-align: center;
}

.rectangle {
    border: 3px solid blue;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin
    
}